body {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	background-color: #FAFAFA;
	overflow-x: hidden;
}

.sprite {
	background-image: url(images/sprite.png);
}

.header-background {
    z-index: -1;
	position: absolute;
	top: 0;
	width: 100vw;
	height: 30px;
	background-color: #FFF;
	overflow-x: hidden;
}

.nav-background {
    z-index: -1;
	position: absolute;
	top: 30px;
	width: 100vw;
	height: 80px;
	background-color: #29B078;
	overflow-x: hidden;
}
.banner-background {
	position: absolute;
	top: 110px;
	width: 100vw;
	height: 244.53px;
	background-color: #F1A750;
    z-index: -1;
}
header {
	position: relative;
	top: 0;
	margin: 0 auto;
	width: 1200px;
	height: 30px;
	color: #29B078;
	background-color: #FFF;
}
.header-icon {
	float: right;
	margin: 0 6px;
	width: 30px;
	height: 30px;
}
.header-text {
	display: inline;
	line-height: 30px;
}
.icon-weixin {
	background-position: 0 58px;
}
.icon-qq {
	background-position: 0 29px;
}
.icon-weibo {
	background-position: 38px 58px;
}
nav {
	position: relative;
	margin: 0 auto;
	width: 1200px;
	height: 80px;
	background-color: #29B078;
}
.logo {
	float: left;
	padding: 16px 0;
}
.nav-btn {
	float: right;
	width: 80px;
	height: 80px;
	box-sizing: border-box;
	font-size: 14px;
	text-align: center;
	line-height: 80px;
	color: #FFF;
}

a:hover .nav-btn{
	border-style: solid;
    border-width: 0 0 3px 0;
    border-color: #FFF;
}

a:focus .nav-btn{
	border-style: solid;
    border-width: 0 0 3px 0;
    border-color: #FFF;
}

.banner {
	position: relative;
	margin: 0 auto;
	width: 1200px;
}
.img-loop {
	width: 100vw;
}
div img {
	width: 100%;
}
content {
	display: block;
	position: relative;
	margin: 0 auto;
	width: 1200px;
	height: 1150px;
}

content div {
	margin: 0 auto;
	width: 1200px;
    height: 50px;
    line-height: 50px;
    align-items: center;
}

content img {
	float: left;
    margin-left: 20px;
    width: 140px;
}


.introduce {
    float: right;
    width: 560px;
    line-height: 25px;
}

.content-list {
	font-size: 14px;
	float: left;
	padding: 0;
	border: 1px solid #EEEDED;
    border-radius: 6px;
	width: 300px;
	height: 700px;
	background-color: #FFF;
}

.content-list div {
	font-size: 16px;
	font-weight: 1000;
	border-bottom: 1px solid #E6E6E6;
	width: 300px;
	height: 60px;
	line-height: 60px;
	text-align: center;
}

.content-list ul {
    margin: 0 auto;
	padding: 20px 0 0 30px;
    width: 100px;
	color: #29B078;
}

.content-list ul li {
    margin: 34px 0;
	width: 70px;
    height: 16px;
    line-height: 16px;
	list-style-type: none;
	list-style-image: url(images/li-circle.png);
}

.content-main {
	float: right;
    border: 1px solid #EEEDED;
    border-radius: 6px;
    width: 870px;
    height: 1000px;
    color: #999;
    background-color: #FFF;
}

.content-main div {
	margin-bottom: 23px;
    padding: 20px 60px;
	width: 870px;
	height: 150px;
	border-bottom: 1px solid #E6E6E6;
}

.content-main-text {
	padding: 13px 70px;
	width: 870px;
	line-height: 25px;
}

a:link {
	color: #29B078;
	text-decoration:none;
}

a:visited {
	color: #29B078;
	text-decoration:none;
}

a:hover li{
	color: #FF650E;
    text-decoration: none;
    list-style-type: none;
    list-style-image: url(images/li-disc.png);
}

a:focus li{
	color: #FF650E;
    text-decoration: none;
    list-style-type: none;
    list-style-image: url(images/li-disc.png);
}

footer {
	position: relative;
	margin: 0 auto;
	padding-top: 20px;
	width: 1200px;
	height: 175px;
	color: #FFF;
	background-color: #29B078;
}

p {
	display: inline-block;
}
.line {
	height: 18px;
    line-height: 18px;
	border-left: 1px solid #FFF;
	display: inline-block;
	margin-left: -1px;
	padding: 0px 4px 0px 6px;
}

.footer-blank {
	padding-right: 4px;
}

.footer-content {
	float: left;
	width: 250px;
    height: 120px;
    line-height: 30px;
}
.xx {
	float: left;
    padding-top: 5px;
    width: 250px;
    height: 120px;
    line-height: 24px;
}
.footer-wx {
	float: right;
	width: 160px;
	height: 120px;
	font-size: 16px;
	text-align: center;
}

.footer-background {
	z-index: -1;
	position: absolute;
	top: 1505px;
	width: 100vw;
	height: 185px;
	background-color: #29B078;
	overflow-x: hidden;
}

.footer-copyright {
	z-index: 1;
	position: absolute;
	top: 1665px;
	width: 100vw;
	height: 24px;
	color: #FFF;
	border-top: 1px solid #32C086;
	box-sizing: border-box;
	line-height: 24px;
	text-align: center;
	overflow-x: hidden;
}
.img-QR {
	margin: 3px 1px 0 0;
	width: 90px;
}
.p-footer {
	font-size: 16px;
}

.footer-text {
	margin-bottom: 7px;
}

div.item img{
    width:100%;
   }
div #carousel-example-generic {
    width:100%;
    margin:0 auto;
}