body {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	background-color: #FAFAFA!important;
	overflow-x: hidden;
}

.sprite {
	background-image: url(images/sprite.png);
}

.normal-text {
	font-size: 14px;
	color: #999;
	text-align: left;
}

#strong-text {
	font-size: 18px;
	font-weight: bold;
    text-align: center;
}

#green-text {
  font-size: 18px;
  color: #26A26F
}

.blank {
  	float: left;
    width: 105px;
    height: inherit;
}

.header-bg {
	position: relative;
	width: 100vw;
	height: 30px;
	background-color: #FFF;
	overflow-x: hidden;
}

.header-background {
    z-index: -1;
	position: absolute;
	top: 0;
	width: 100vw;
	height: 30px;
	background-color: #FFF;
	overflow-x: hidden;
}

.nav-background {
    z-index: -1;
	position: absolute;
	top: 30px;
	width: 100vw;
	height: 80px;
	background-color: #29B078;
	overflow-x: hidden;
}

.banner-background {
	position: absolute;
	top: 110px;
	width: 100vw;
	height: 244.53px;
	background-color: #F1A750;
    z-index: -1;
}

header {
	position: relative;
	top: 0;
	margin: 0 auto;
	height: 30px;
	color: #29B078;
	background-color: #FFF;
}

.header-icon {
	float: right;
	margin: 0 6px;
	width: 30px;
	height: 30px;
}

.header-text {
	display: inline;
	line-height: 30px;
}

.icon-weixin {
	background-position: 0 58px;
}

.icon-qq {
	background-position: 0 29px;
}

.icon-weibo {
	background-position: 38px 58px;
}

.nav-bg {
	position: relative;
	width: 100vw;
	height: auto;
	overflow: hidden;
	background-color: #29B078;
}

nav {
	position: relative;
	margin: 0 auto;
	height: 80px;
	background-color: #29B078;
}

.dropbtn {
	display: none;
	float: right;
	height: 80px;
}

.bg-green {
	color: #FFF!important;
	background-color: #29B078!important;
}

nav div ul li a {
	color: #FFF!important;
	background-color: #29B078!important;
}

.logo {
	float: left;
	width: 107px;
	padding: 16px 0;
}

.nav-dropdown-btn {
	float: right;
    width: 40px;
    height: 40px;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    background-color: #66CD99;
}

.nav-dropdown {
	display: none;
	position: relative;
	width: 100vw;
	height: 160px;
	background-color: #29B078;
	color: #FFF;
	text-align: center;
}

.nav-dropdown:hover {
	display: block;
}

.nav-dropdown:focus {
	display: block;
}

.nav-dropdown-menu {
	position: relative;
	width: 100%;
	height: 40px;
	background-color: #29B078;
	color: #FFF;
	font-size: 16px;
	line-height: 40px;
}

.nav-dropdown a {
	color: #FFF;
	text-decoration: none;
}

.nav-bg button {
	display: none;
	position: absolute;
	right: 15px;
	top: 20px;
	float: right;
	padding: 0;
	width: 40px;
	height: 40px;
    border: none;
    border-radius: 5px;
	background-color: #222;
}

button:focus {
	outline: none;
}

button:hover .nav-dropdown-btn {
	display: block;
	background-color: #2E8B57;
}

button:focus .nav-dropdown-btn {
	display: block;
	background-color: #2E8B57;
	outline: none;
}

button:focus + .nav-dropdown {
	display: block;
	background-color: #555;
}

a:hover .nav-dropdown-menu {
	background-color: #66CD99;
	text-decoration: none;
}

a:focus .nav-dropdown-menu {
	background-color: #66CD99;
	text-decoration: none;
}

a:hover {
	text-decoration: none!important;
}

a:focus {
	text-decoration: none!important;
}


.nav-btn {
	float: right;
	width: 80px;
	height: 80px;
	box-sizing: border-box;
	font-size: 14px;
	text-align: center;
	line-height: 80px;
	color: #FFF;
}

a:hover .nav-btn{
	border-style: solid;
    border-width: 0 0 3px 0;
    border-color: #FFF;
}

a:focus .nav-btn{
	border-style: solid;
    border-width: 0 0 3px 0;
    border-color: #FFF;
}

.banner {
	position: relative;
	margin: 0 auto;
	width: 100vw;
}

.img-loop {
	width: 100vw;
}

div img {
	width: 100%;
}

.main-content1 {
	position: relative;
	margin: 100px auto;
	padding: 10px 0;
	height: 265px;
}

.main-icon1 {
	margin: 35px auto;
    width: 44px;
    height: 64px;
}

.main-icon2 {
	margin: 42px auto;
    width: 61px;
    height: 50px;
}

.main-icon3 {
	margin: 39.5px auto;
    width: 52px;
    height: 55px;
}

.main-content1 span {
    float: left;
    width: 222px;
    height: 265px;
	text-align: center;
}

#grayline {
    float: left;
	margin: 0 40px;
  	width: 1px;
    height: 265px;
  	border-left: 1px dashed #DEDEDE;
}

.main-amount {
  	float: left;
	padding: 60px 0;
   	width: 222px;
  	height: inherit;
	font-size: 18px;
	color: #999;
}

.main-amount img {
  	width: 15px;
  	height: 13px;
	vertical-align: baseline;
}

.main-subnav {
	position: relative;
	margin: 25px auto;
    padding-top: 15px;
  	height: 30px;
  	text-align: center;
}

.main-content2 {
  	position: relative;
  	margin: 50px auto 90px;
  	height: 72px;
}

.main-content2-circle {
	float: left;
	margin-right: 20px;
  	width: 72px;
  	height: 72px;
  	line-height: 72px;
  	border: 1px solid #E2E2E2;
 	border-radius: 36px;
	box-sizing: border-box;
	text-align: center;
	color: #29B078;
	font-weight: bold;
	background-color: #FFF;
}

.main-content2-text {
	display: table;
  	float: left;
  	width: 151px;
  	height: 72px;
  	line-height: 30px;
}

.main-text-middle {
	display: table-cell;
	vertical-align: middle;
}

.main-content2-arrow {
	float: left;
	margin: 23.5px 24px;
	width: 28px;
	height: 25px;
}

.main-content3 {
	position: relative;
	margin: 72px auto;
	
	height: 370px;
}

.main-content3 div {
	float: left;
	padding: 20px 32px;
	width: 272px;
	height: inherit;
  	border: 1px solid #EEEDED;
  	border-radius: 5px;
  	line-height: 24px;
	text-align: center;
	background-color: #FFF;
}

.main-content3 span {
	float: left;
	width: 37px;
	height: inherit;
}

.main-content3-circle {
	width: 13px;
	height: 13px;
  	border: 1px solid #EEEDED;
  	border-radius: 6.5px;
	background-color: #FFF;
}

a:focus .main-content3-circle {
	border: none;
	background-color: #29B078;
}

a:hover .main-content3-circle {
	border: none;
	background-color: #29B078;
}

.main-content3 img {
	margin: 0 auto 25px;
	width: 108px;
	height: 109px;
}

.main-content3 p {
	margin-top: 10px;
}

.main-content4 {
	position: relative;
	margin: 66px auto 90px;
	height: 177.7px;
	border: 1px solid #EEEDED;
	box-sizing: border-box;
	background-color: #FFF;
}

.main-content4 button {
	width: 236.49px;
    height: 175.69px;
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
	background-color: #FFF;
}

.main-content4 button:hover {
	box-shadow: 0px 3px 6px 1px #999;
}

.main-content4-icon1 {
	background-image: url(images/alibaba.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

.main-content4-icon2 {
	background-image: url(images/jinshanyun.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

.main-content4-icon3 {
	background-image: url(images/huanxin.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

.main-content4-icon4 {
	background-image: url(images/ronglian.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

.main-content4-icon5 {
	background-image: url(images/qiniu.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

.main-connector-bg {
	position: relative;
	width: 100vw;
	height: 120px;
	background-color: #FFF;
}

.main-connector {
	position: relative;
	margin: 0 auto;
	height: 30px;
}

.main-connector li {
	float: left;
	margin: 0 45px 0 1px;
	font-size: 14px;
	color: #999;
	text-align: left;
}

footer {
	position: relative;
	margin: 0 auto;
	padding-top: 20px;
	height: 175px;
	color: #FFF;
	background-color: #29B078;
}

.footer-bg {
	z-index: -1;
	position: relative;
	width: 100vw;
	height: 185px;
	background-color: #29B078;
	overflow-x: hidden;
}

p {
	display: inline-block;
}

.line {
	height: 18px;
    line-height: 18px;
	border-left: 1px solid #FFF;
	display: inline-block;
	margin-left: -1px;
	padding: 0px 4px 0px 6px;
}

.footer-blank {
	padding-right: 4px;
}

.footer-content {
	float: left;
	width: 210px;
    height: 120px;
    line-height: 30px;
}

.xx {
	float: left;
    padding-top: 5px;
    width: 250px;
    height: 120px;
    line-height: 24px;
}
.footer-wx {
	float: right;
	width: 160px;
	height: 120px;
	font-size: 16px;
	text-align: center;
}

.footer-copyright {
	z-index: 1;
	position: absolute;
	bottom: 0;
	width: 100vw;
	height: 25px;
	color: #FFF;
	border-top: 1px solid #32C086;
	box-sizing: border-box;
	line-height: 24px;
	text-align: center;
	overflow-x: hidden;
}

.footer-copyright p {
	margin: 0;
}

.img-QR {
	margin: 3px 1px 0 0;
	width: 90px;
}

.p-footer {
	font-size: 16px;
}

.footer-text {
	margin-bottom: 54px;
}

div .item img {
    width:100%;
}

div #carousel-example-generic {
    width:100%;
    margin:0 auto;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}


@media screen and (min-width: 1200px) {
	header {
		width: 1200px;
	}

	nav {
		width: 1200px;
	}

	footer {
		width: 1200px;
	}

	.main-connector {
    	width: 1200px;
    }

    .main-subnav {
    	width: 1200px;
    }

    .main-content1 {
    	width: 1200px;
    }

    .main-content2 {
    	width: 1200px;
    }

    .main-content3 {
    	width: 1200px;
    }

    .main-content4 {
    	width: 1200px;
    }
}

@media screen and (max-width:1200px) {
	header {
		width: 100vw;
		padding-left: 15px;
	}

	nav {
		width: 100vw;
		padding: 0 15px;
	}

	footer {
		width: 100vw;
		padding: 20px 15px 0;
	}

    .main-connector {
    	width: 100vw;
    }

    .main-subnav {
    	width: 100vw;
    }

    .main-content1 {
    	width: 100vw;
    }

    .main-content2 {
    	margin: 0;
    	width: 100vw;
    }

    .main-content3 {
    	width: 100vw;
    }

    .main-content4 {
    	width: 90vw;
    }

	.blank {
		display: none;
	}

	.main-content1 {
		height: auto;
		overflow: hidden;
	}

	.main-content2 {
		height: auto;
		overflow: hidden;
	}

	.main-content3 {
		height: auto;
		overflow: hidden;
	}

	.main-content4 {
		height: auto;
		overflow: hidden;
	}

	.main-subnav {
		height: auto;
		overflow: hidden;
	}

	.main-connector {
		height: auto;
		overflow: hidden;
	}

	.main-connector-bg {
		height: auto;
		overflow: hidden;
	}
}

@media screen and (min-width: 1024px) {
	.main-content4 button {
		width: 19.61%;
		height: auto;
	}
}

@media screen and (min-width: 624px) and (max-width: 1024px) {
	.main-content4 button {
		width: 32.699%;
		height: auto;
	}
}

@media screen and (min-width: 624px) and (max-width:1200px) {

	.main-content1 span {
		width: 50vw;
		padding: 0 12vw;
	}

	#grayline {
		margin: 0 3vw 0 15vw;
	}

	.main-amount {
		width: 25vw;
	}

	.main-content2-circle {
		margin: 1vw 5vw;
		width: 10vw;
		height: 10vw;
		line-height: 10vw;
		border-radius: 5vw;
	}

	.main-content2-arrow {
		display: none;
	}

	.main-content2-text {
		display: flex;
		margin: 1vw 0;
		width: 27vw;
		height: 10vw;
    	justify-content: space-around;
    	flex-direction: column;
	}

	.main-content2-text p {
		margin: 0;
	}

	.main-content3 div {
		margin: 5vw 6vw;
		width: 37vw;
	}

	.clearfloat {
		clear: both;
	}
}

@media screen and (max-width: 650px) {
	footer {
		height: auto;
		margin-bottom: 45px;
	}

	.footer-bg {
		height: auto;
		padding: 2vw 0;
	}

	.footer-content {
		float: none;
		height: auto;
	}

	.footer-wx {
		float: none;
		text-align: left;
	}

	.footer-copyright {
		height: auto;
	}

	.xx {
		height: auto;
	}

	.footer-text {
		margin-bottom: 20px;
	}

	.hidden-img1 {
		display: none;
	}

	.hidden-img2 {
		display: block;
	}

	.main-content4 {
		width: 85vw;
	}
}

@media screen and (min-width: 650px) {
	.hidden-img2 {
		display: none;
	}

	.hidden-img1 {
		display: block;
	}
}

@media screen and (max-width: 624px) {
	.main-content1 span {
		width: 100vw;
		padding: 0 12vw;
	}

	#grayline {
		display: none;
	}

	.main-amount {
		width: 100vw;
    	text-align: center;
    	margin: 0 auto;
	}

	.main-content2-circle {
		margin: 2vw 10vw;
    	width: 20vw;
    	height: 20vw;
    	line-height: 20vw;
    	border-radius: 10vw;
	}

	.main-content2-arrow {
		display: none;
	}

	.main-content2-text {
		display: flex;
    	margin: 2vw 0;
    	width: 50%;
    	height: 20vw;
    	justify-content: space-around;
    	flex-direction: column;
	}

	.main-content2-text p {
		margin: 0;
	}

	.main-content3 div {
		margin: 5vw 6vw;
		width: 90vw;
	}

	.clearfloat {
		clear: both;
	}

	.carousel-indicators {
		bottom: -10px!important;
	}

	nav a div {
		display: none;
	}

	.dropbtn {
		display: inline-block;
	}

	.nav-bg button {
		display: inline-block;
	}

	.main-content4 button {
		width: 49.1%;
		height: auto;
	}
}