html {
	overflow-x: hidden;
}

body {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	width: 100vw;
	background-color: #FAFAFA!important;
	overflow-x: hidden;
}

.sprite {
	background-image: url(images/sprite.png);
}

.header-bg {
	position: relative;
	width: 100vw;
	height: 30px;
	background-color: #FFF;
	overflow-x: hidden;
}

.header-background {
    z-index: -1;
	position: absolute;
	top: 0;
	width: 100vw;
	height: 30px;
	background-color: #FFF;
	overflow-x: hidden;
}

.nav-background {
    z-index: -1;
	position: absolute;
	top: 30px;
	width: 100vw;
	height: 80px;
	background-color: #29B078;
	overflow-x: hidden;
}

.nav-bg {
	position: relative;
	width: 100vw;
	height: auto;
	background-color: #29B078;
}

header {
	position: relative;
	top: 0;
	margin: 0 auto;
	width: 1200px;
	height: 30px;
	color: #29B078;
	background-color: #FFF;
}
.header-icon {
	float: right;
	margin: 0 6px;
	width: 30px;
	height: 30px;
}
.header-text {
	display: inline;
	line-height: 30px;
}
.icon-weixin {
	background-position: 0 58px;
}
.icon-qq {
	background-position: 0 29px;
}
.icon-weibo {
	background-position: 38px 58px;
}

nav {
	position: relative;
	margin: 0 auto;
	width: 1200px;
	height: 80px;
	background-color: #29B078;
}

.nav-bg div a p {
	width: 65px;
    height: 40px;
	margin: 0;
    padding-top: 3px;
    box-sizing: border-box;
}
a:hover .nav-dropdown-menu > p {
    border-bottom: 3px solid #FFF;
}
a:focus .nav-dropdown-menu > p {
    border-bottom: 3px solid #FFF;
}
#nav-default {
    border-bottom: 3px solid #FFF;
}

.nav-dropdown-btn {
	float: right;
    width: 40px;
    height: 40px;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    background-color: #66CD99;
}

.nav-dropdown {
	display: none;
	position: relative;
	width: 100vw;
	height: 160px;
	background-color: #29B078;
	color: #FFF;
	text-align: center;
}

.nav-dropdown:hover {
	display: block;
}

.nav-dropdown:focus {
	display: block;
}

.nav-dropdown-menu {
	position: relative;
	width: 100%;
	height: 40px;
	background-color: #29B078;
	color: #FFF;
	font-size: 16px;
	line-height: 40px;
}

.nav-dropdown a {
	color: #FFF;
	text-decoration: none;
}

.nav-bg button {
	display: none;
	position: absolute;
	right: 15px;
	top: 20px;
	float: right;
	padding: 0;
	width: 40px;
	height: 40px;
    border: none;
    border-radius: 5px;
	background-color: #222;
}

button:focus {
	outline: none;
}

button:hover .nav-dropdown-btn {
	display: block;
	background-color: #2E8B57;
}

button:focus .nav-dropdown-btn {
	display: block;
	background-color: #2E8B57;
	outline: none;
}

button:focus + .nav-dropdown {
	display: block;
	background-color: #555;
}

a:hover .nav-dropdown-menu {
	background-color: #66CD99;
	text-decoration: none;
}

a:focus .nav-dropdown-menu {
	background-color: #66CD99;
	text-decoration: none;
}

a:hover {
	text-decoration: none!important;
}

a:focus {
	text-decoration: none!important;
}

.dropbtn {
	display: none;
	float: right;
	height: 80px;
}

.bg-green {
	color: #FFF!important;
	background-color: #29B078!important;
}

nav div ul li a {
	color: #FFF!important;
	background-color: #29B078!important;
}

.logo {
	float: left;
	padding: 16px 0;
}

.nav-btn {
	float: right;
	width: 80px;
	height: 80px;
	box-sizing: border-box;
	font-size: 14px;
	text-align: center;
	line-height: 80px;
	color: #FFF;
}

a:hover .nav-btn {
	border-style: solid;
    border-width: 0 0 3px 0;
    border-color: #FFF;
}

a:focus .nav-btn {
	border-style: solid;
    border-width: 0 0 3px 0;
    border-color: #FFF;
}

menu {
	position: relative;
	margin: 0 auto;
	padding: 0;
	width: 1200px;
	height: 142px;
}

menu div {
	height: 80px;
	line-height: 80px;
	border-bottom: 1px solid #D0D6D9;
}

.menu-main {
	padding: 23px 0 0;
    box-sizing: border-box;
    color: #AFAFAF;
    height: 60px;
    line-height: 12px;
    border-bottom: 1px solid #EDF1F2;
}

menu span {
	padding: 0 12px;
	color: #333;
}

menu button {
	margin: 0 12px;
	padding: 3px;
    border: none;
    background-color: #FAFAFA;
    box-sizing: border-box;
}

button:focus {
	outline: none;
	color: #FFF;
	background-color: #29B078;
}

a:link {
	color: #29B078;
	text-decoration:none;
}

a:visited {
	color: #29B078;
	text-decoration:none
}

main {
	position: relative;
	margin: 0 auto;
	width: 1200px;
	height: 2500px;
}

#submenu {
	height: 80px;
	line-height: 80px;
	border-bottom: 1px solid #D0D6D9;
	font-size: 16px;
}

main span {
	display: inline-block;
	position: relative;
	margin: 45px 0 0 0;
	width: 384px;
	height: 445px;
	font-size: 12px;
	box-sizing: border-box;
	border-radius: 6px;
	border: 1px solid #EEEDED;
}

.main-span-right {
	margin-left: 20px;
}

main img {
	float: left;
	margin: 20px 7px 0 11px;
}

.main-text {
	font-size: 16px;
	margin-top: 35px;
}

.introduce {
    float: left;
    width: 215px;
}

.border-top {
	border-top: 1px solid #EDF1F2;
}

.border-left {
	border-left: 1px solid #EDF1F2;
}

.main-top {
	width: 385px;
	height: 175px;
}

.main-summary {
	float: left;
	padding-left: 9px;
	width: 191px;
	height: 40px;
	line-height: 40px;
	color: #999;
}

.main-middle-left {
	float: left;
	width: 152px;
	height: 105px;
	line-height: 105px;
	text-align: center;
	color: #999;
}

.main-middle-right {
	float: left;
	padding: 0 11px 0 22px;
	width: 229px;
	height: 34px;
	line-height: 34px;
	color: #333;
}

.main-footer {
	float: left;
	padding-left: 9px;
	width: 385px;
	height: 40px;
	line-height: 40px;
	color: #999;
}

.red-text {
	color: #F01400;
}

.img-star {
	float: none;
    margin: 0 3px 2px 0;
}

.main-text-right {
	float: right;
}

.main-text-left {
	float: left;
	text-align: left;
}

.normal-fontsize {
	font-size: 14px;
	color: #333;
}

.main-hidden {
	display: none;
	position: absolute;
	padding: 85px 40px 0;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #FFF;
	font-size: 16px;
	box-sizing: border-box;
	border-radius: 6px;
	background-color: rgba(51,51,51,0.9);
}

main span:hover .main-hidden {
	display: block;
}

footer {
	position: relative;
	margin: 0 auto;
	padding-top: 20px;
	height: 175px;
	color: #FFF;
	background-color: #29B078;
}

.footer-bg {
	z-index: -1;
	position: relative;
	width: 100vw;
	height: 185px;
	background-color: #29B078;
	overflow-x: hidden;
}

p {
	display: inline-block;
}

.line {
	height: 18px;
    line-height: 18px;
	border-left: 1px solid #FFF;
	display: inline-block;
	margin-left: -1px;
	padding: 0px 4px 0px 6px;
}

.footer-blank {
	padding-right: 4px;
}

.footer-content {
	float: left;
	width: 210px;
    height: 120px;
    line-height: 30px;
}

.xx {
	float: left;
    padding-top: 5px;
    width: 250px;
    height: 120px;
    line-height: 24px;
}
.footer-wx {
	float: right;
	width: 160px;
	height: 120px;
	font-size: 16px;
	text-align: center;
}

.footer-copyright {
	z-index: 1;
	position: absolute;
	bottom: 0;
	width: 100vw;
	height: 25px;
	color: #FFF;
	border-top: 1px solid #32C086;
	box-sizing: border-box;
	line-height: 24px;
	text-align: center;
	overflow-x: hidden;
}

.footer-copyright p {
	margin: 0;
}

.img-QR {
	margin: 3px 1px 0 0;
	width: 90px;
}

.p-footer {
	font-size: 16px;
}

.footer-text {
	margin-bottom: 54px;
}

@media screen and (min-width: 1200px) {
	header {
		width: 1200px;
	}

	nav {
		width: 1200px;
	}

	footer {
		width: 1200px;
	}
}

@media screen and (max-width:1200px) {
	header {
		width: 100vw;
		padding-left: 15px;
	}

	nav {
		width: 100vw;
		padding: 0 15px;
	}

	.header-background {
		display: none;
	}

	.nav-background {
		display: none;
	}

	footer {
		height: auto;
		margin-bottom: 45px;
	}

	menu {
		width: 100vw;
		height: auto;
		overflow: hidden;
	}
	.menu-main {
		height: auto;
		overflow: hidden;
		padding-bottom: 11px;
	}
	.menu-main p {
		float: left;
		line-height: 16px;
	}
	.menu-main span {
		padding: 0;
	}

	main {
		width: 100vw;
		height: auto;
		margin-bottom: 50px;
		overflow: hidden;
	}

	main span {
		margin-left: 15px;
	}

	.main-span-right {
		margin: 45px 0 0 15px;
	}

	.main-summary {
		width: 50%;
	}
	.main-middle-left {
		width: 40%;
	}
	.main-middle-right {
		width: 60%;
	}
	.main-footer {
		width: 100%;
		height: auto;
	}

	#submenu b {
		padding-left: 15px;
	}
}

@media screen and (max-width: 650px) {
	footer {
		height: auto;
		margin-bottom: 45px;
		padding: 0 15px;
	}

	.footer-bg {
		height: auto;
		padding: 2vw 0;
	}

	.footer-content {
		float: none;
		height: auto;
	}

	.footer-wx {
		float: none;
		text-align: left;
	}

	.footer-copyright {
		height: auto;
	}

	.xx {
		height: auto;
	}

	.footer-text {
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 600px) {
	main {
		width: 100vw;
	}
	main span {
		margin: 45px 2% 0;
		width: 96%;
		height: auto;
	}
	.main-span-right {
		margin: 45px 2% 0;
	}
	.main-hidden {
		width: 100%;
	}
	.main-summary {
		width: 100%;
	}
	.main-top {
		width: 100%;
		height: auto;
		overflow: hidden;
	}
	.main-top img {
		width: 100px;
		height: 100px;
	}
	.main-footer p {
		display: table-cell;
	}

	.introduce {
		min-width: 185px;
		width: 60%;
	}

	nav a div {
		display: none;
	}

	.nav-bg button {
		display: inline-block;
	}
}
