
body {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	background-color: #FAFAFA!important;
	overflow-x: hidden;
}

.sprite {
	background-image: url(images/sprite.png);
}

.header-bg {
	position: relative;
	width: 100vw;
	height: 30px;
	background-color: #FFF;
	overflow-x: hidden;
}

.header-background {
    z-index: -1;
	position: absolute;
	top: 0;
	width: 100vw;
	height: 30px;
	background-color: #FFF;
	overflow-x: hidden;
}

.nav-background {
    z-index: -1;
	position: absolute;
	top: 30px;
	width: 100vw;
	height: 80px;
	background-color: #29B078;
	overflow-x: hidden;
}

.nav-bg {
	position: relative;
	width: 100vw;
	height: auto;
	background-color: #29B078;
}

.nav-bg div a p {
	width: 65px;
    height: 40px;
	margin: 0;
    padding-top: 3px;
    box-sizing: border-box;
}
a:hover .nav-dropdown-menu > p {
    border-bottom: 3px solid #FFF;
}
a:focus .nav-dropdown-menu > p {
    border-bottom: 3px solid #FFF;
}
#nav-default {
    border-bottom: 3px solid #FFF;
}

.banner-background {
	position: absolute;
	top: 110px;
	width: 100vw;
	height: 244.53px;
	background-color: #F1A750;
    z-index: -1;
}
header {
	position: relative;
	top: 0;
	margin: 0 auto;
	width: 1200px;
	height: 30px;
	color: #29B078;
	background-color: #FFF;
}
.header-icon {
	float: right;
	margin: 0 6px;
	width: 30px;
	height: 30px;
}
.header-text {
	display: inline;
	line-height: 30px;
}
.icon-weixin {
	background-position: 0 58px;
}
.icon-qq {
	background-position: 0 29px;
}
.icon-weibo {
	background-position: 38px 58px;
}
nav {
	position: relative;
	margin: 0 auto;
	width: 1200px;
	height: 80px;
	background-color: #29B078;
}

.logo {
	float: left;
	width: 107px;
	padding: 16px 0;
}

.nav-dropdown-btn {
	float: right;
    width: 40px;
    height: 40px;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    background-color: #66CD99;
}

.nav-dropdown {
	display: none;
	position: relative;
	width: 100vw;
	height: 160px;
	background-color: #29B078;
	color: #FFF;
	text-align: center;
}

.nav-dropdown:hover {
	display: block;
}

.nav-dropdown:focus {
	display: block;
}

.nav-dropdown-menu {
	position: relative;
	width: 100%;
	height: 40px;
	background-color: #29B078;
	color: #FFF;
	font-size: 16px;
	line-height: 40px;
}

.nav-dropdown a {
	color: #FFF;
	text-decoration: none;
}

.nav-bg button {
	display: none;
	position: absolute;
	right: 15px;
	top: 20px;
	float: right;
	padding: 0;
	width: 40px;
	height: 40px;
    border: none;
    border-radius: 5px;
	background-color: #222;
}

button:focus {
	outline: none;
}

button:hover .nav-dropdown-btn {
	display: block;
	background-color: #2E8B57;
}

button:focus .nav-dropdown-btn {
	display: block;
	background-color: #2E8B57;
	outline: none;
}

button:focus + .nav-dropdown {
	display: block;
	background-color: #555;
}

a:hover .nav-dropdown-menu {
	background-color: #66CD99;
	text-decoration: none;
}

a:focus .nav-dropdown-menu {
	background-color: #66CD99;
	text-decoration: none;
}

a:hover {
	text-decoration: none!important;
}

a:focus {
	text-decoration: none!important;
}

.dropbtn {
	display: none;
	float: right;
	height: 80px;
	line-height: 80px;
}

.bg-green {
	color: #FFF!important;
	background-color: #29B078!important;
}

nav div ul li a {
	color: #FFF!important;
	background-color: #29B078!important;
}

.logo {
	float: left;
	padding: 16px 0;
}

.nav-btn {
	float: right;
	width: 80px;
	height: 80px;
	box-sizing: border-box;
	font-size: 14px;
	text-align: center;
	line-height: 80px;
	color: #FFF;
}

a:hover .nav-btn{
	border-style: solid;
    border-width: 0 0 3px 0;
    border-color: #FFF;
}

a:focus .nav-btn{
	border-style: solid;
    border-width: 0 0 3px 0;
    border-color: #FFF;
}

.banner {
	position: relative;
	margin: 0 auto;
	width: 1200px;
}

.img-loop {
	width: 100vw;
}

div img {
	width: 100%;
}

content {
	display: block;
	position: relative;
	margin: 0 auto;
	width: 1200px;
	height: 1150px;
}

content div {
	margin: 0 auto;
	width: 1200px;
    height: 50px;
    line-height: 50px;
    align-items: center;
}

content img {
	float: left;
    margin-left: 20px;
    width: 140px;
}


.introduce {
    float: right;
    width: 100%;
    line-height: 25px;
}

.content-list {
	font-size: 14px;
	float: left;
	padding: 0;
	border: 1px solid #EEEDED;
    border-radius: 6px;
	width: 300px;
	height: 700px;
	background-color: #FFF;
}

.content-list div {
	font-size: 16px;
	font-weight: 1000;
	border-bottom: 1px solid #E6E6E6;
	width: 300px;
	height: 60px;
	line-height: 60px;
	text-align: center;
}

.content-list ul {
    margin: 0 auto;
	padding: 20px 0 0 30px;
    width: 100px;
	color: #29B078;
}

.content-list ul li {
    margin: 34px 0;
	width: 70px;
    height: 16px;
    line-height: 16px;
	list-style-type: none;
	list-style-image: url(images/li-circle.png);
}

.content-main {
	float: right;
    border: 1px solid #EEEDED;
    border-radius: 6px;
    width: 870px;
    height: 1000px;
    color: #999;
    background-color: #FFF;
}

.content-main div {
	margin-bottom: 23px;
    padding: 20px 60px;
	width: 870px;
	height: 150px;
	border-bottom: 1px solid #E6E6E6;
}

.content-main-text {
	padding: 13px 70px;
	width: 870px;
	line-height: 25px;
}

a:link {
	color: #29B078;
	text-decoration:none;
}

a:visited {
	color: #29B078;
	text-decoration:none;
}

a:hover li{
	color: #FF650E;
    text-decoration: none;
    list-style-type: none;
    list-style-image: url(images/li-disc.png);
}

a:focus li{
	color: #FF650E;
    text-decoration: none;
    list-style-type: none;
    list-style-image: url(images/li-disc.png);
}

footer {
	position: relative;
	margin: 0 auto;
	padding-top: 20px;
	height: 175px;
	color: #FFF;
	background-color: #29B078;
}

.footer-bg {
	position: relative;
	width: 100vw;
	height: 185px;
	background-color: #29B078;
	overflow-x: hidden;
}

p {
	display: inline-block;
}
footer p {
	display: inline-block;
	color: #FFF!important;
}

footer a:link p {
	color: #FFF!important;
}
footer a:visited p {
	color: #FFF!important;
}

footer a:hover p {
	color: #FFF!important;
	text-decoration: underline!important;
}

.line {
	height: 18px;
    line-height: 18px;
	border-left: 1px solid #FFF;
	display: inline-block;
	margin-left: -1px;
	padding: 0px 4px 0px 6px;
}

.footer-blank {
	padding-right: 4px;
}

.footer-content {
	float: left;
	width: 210px;
    height: 120px;
    line-height: 30px;
}

.xx {
	float: left;
    padding-top: 5px;
    width: 250px;
    height: 120px;
    line-height: 24px;
}
.footer-wx {
	float: right;
	width: 160px;
	height: 120px;
	font-size: 16px;
	text-align: center;
}

.footer-copyright {
	z-index: 1;
	position: absolute;
	bottom: 0;
	width: 100vw;
	height: 25px;
	color: #FFF;
	border-top: 1px solid #32C086;
	box-sizing: border-box;
	line-height: 24px;
	text-align: center;
	overflow-x: hidden;
}

.footer-copyright p {
	margin: 0;
}

.img-QR {
	margin: 3px 1px 0 0;
	width: 90px;
}

.p-footer {
	font-size: 16px;
}

.footer-text {
	margin-bottom: 54px;
}

div.item img{
    width:100%;
   }
div #carousel-example-generic {
    width:100%;
    margin:0 auto;
}

@media screen and (min-width: 1200px) {
	header {
		width: 1200px;
	}

	nav {
		width: 1200px;
	}

	footer {
		width: 1200px;
	}
}

@media screen and (max-width:1200px) {
	header {
		width: 100vw;
		padding-left: 15px;
	}

	nav {
		width: 100vw;
		padding: 0 15px;
	}

	.banner {
		width: 100vw;
	}

	footer {
		width: 100vw;
		padding: 20px 15px 0;
	}

	.header-background {
		display: none;
	}

	.nav-background {
		display: none;
	}

	.banner-background {
		display: none;
	}

	content {
		width: 100vw;
		height: auto;
		margin: 0 auto 50px;
		padding: 0 15px;
		overflow: hidden;
	}

	content div {
		width: 100vw;
	}

	.content-list {
		width: 30%;
	}

	.content-list div {
		width: 100%;
	}

	.content-main {
		width: 68%;
		height: auto;
	}

	.content-main-text {
		width: 100%;
		padding: 3% 8%;
	}

	.content-main div {
		width: 100%;
		height: auto;
		padding: 3% 8%;
		overflow: auto;
	}

	.introduce {
		width: 100%;
	}
    .little-blank {
		margin-left: 15px;
	}
}




@media screen and (max-width: 650px) {
	footer {
		height: auto;
		margin-bottom: 45px;
	}

	.footer-bg {
		height: auto;
		padding: 2vw 0;
	}

	.footer-content {
		float: none;
		height: auto;
	}

	.footer-wx {
		float: none;
		text-align: left;
	}

	.footer-copyright {
		height: auto;
	}

	.xx {
		height: auto;
	}

	.footer-text {
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 500px) {
	.content-list {
		width: 100%;
		margin-bottom: 30px;
	}
	.content-main {
		width: 100%;
		height: auto;
	}

	nav a div {
		display: none;
	}

	.nav-bg button {
		display: inline-block;
	}
}